<!DOCTYPE html>
<html ng-app="jarbis" lang="pt-BR">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{{systemName}}</title>

        <link href="/assets/css/main.min.css" rel="stylesheet">
        <style rel="stylesheet">
            /* TEMPLATE STYLES */

            main {
                margin-top: 1rem;
                ;
            }

            main .card {
                margin-bottom: 1rem;
            }

            @media only screen and (max-width: 768px) {
                .read-more {
                    text-align: center;
                }
            }
        </style>

    </head>

    <body ng-controller="FornecedorController as jarbis">

        <header>
            <!--Navbar-->
            <nav class="navbar navbar-dark bg-primary">
                <!-- Collapse button-->
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
                    <i>≡</i>
                </button>

                <div class="container">

                    <!--Collapse content-->
                    <div class="collapse navbar-toggleable-xs" id="collapseEx">
                        <!--Navbar Brand-->
                        <a class="navbar-brand" href="./" target="_blank">LRP</a>
                        <!--Links-->
                        <ul class="nav navbar-nav">
                          <li class="nav-item">
                              <a class="nav-link" href="./">Início</a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" data-toggle="modal" data-target="#myModal1" href="#myModal1">Fornecedores<span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="notas">Notas Fiscais</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="notas-superloja">Últimas Entradas</a>
                          </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#myModal3" href="#myModal3">Sobre</a>
                            </li>
                        </ul>
                     <form class="form-inline">
                        <input class="cnpj form-control" type="text" ng-model="cnpj" ng-change="getFornecedorPorCnpj(cnpj)" ngChange="/[^0-9]/" size="30" placeholder="Busca por CNPJ"/>
                    </form>

                    </div>
                    <!--/.Collapse content-->

                </div>

            </nav>
            <!--/.Navbar-->
        </header>

        <div id="message">
            <alert class="alert" id="inner-message" ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"  close="closeAlert()" ><strong>{{alert.msg}}</strong></alert>
        </div>

        <img style="float: top; width: 100%; padding-bottom: 0.5%; opacity: 0.8; filter: alpha(opacity=80); /* For IE8 and earlier */" src="assets/img/forn.jpg" alt="Fornecedores"/>
        <main>

            <!--Main layout-->
            <div class="container">

                <form id="main">

                    <p style="float: left; width: 50%; padding-right: 1%;">
                        <span class="display_bold"><label for="cnpj">CNPJ</label></span>
                        <input id="cnpj" type="text" ng-model="fornecedor.cnpj" ngChange="/[^0-9]/" class="cnpj" required="true" maxlength="30" readonly/>
                    </p>
                    <p style="float: left; width: 50%; padding-left: 1%;">
                        <span class="display_bold"><label for="cnpj">Nome Fantasia</label></span>
                        <input type="text" ng-model="fornecedor.nomeFornecedor" size="30" readonly/>
                    </p>
                    <p style="float: left; width: 50%; padding-right: 1%;">
                        <span class="display_bold"><label for="cnpj">UF</label></span>
                        <input type="text" ng-model="fornecedor.UF" maxlength="2" value="{{ fornecedor.fu | uppercase}}" size="2" readonly/>
                    </p>
                    <p style="float: left; width: 50%; padding-left: 1%;">
                        <span class="display_bold"><label for="cnpj">Cidade</label></span>
                        <input type="text" ng-model="fornecedor.cidade" size="20" readonly/>
                    </p>
                    <p style="float: left; width: 50%; padding-right: 1%;">
                        <span class="display_bold"><label for="cnpj">Bairro</label></span>
                        <input type="text" ng-model="fornecedor.bairro" size="30" readonly/>
                    </p>
                    <p style="float: left; width: 50%; padding-left: 1%;">
                        <span class="display_bold"><label for="cnpj">Rua</label></span>
                        <input type="text" ng-model="fornecedor.endereco" size="30" readonly/>
                    </p>
                    <p style="float: left; width: 50%; padding-right: 1%;">
                        <span class="display_bold"><label for="cnpj">Número</label></span>
                        <input type="text" ng-model="fornecedor.numero" readonly/>
                    </p>
                    <p><p style="float: left; width: 50%; padding-left: 1%;">
                        <span class="display_bold"><label for="cnpj">Inscrição Estadual</label></span>
                        <input type="text" ng-model="fornecedor.IE" readonly/>
                    </p>
                </form>

            </div>
            <!--/.Main layout-->
        </main>

        <!--Footer-->
        <footer class="page-footer center-on-small-only navbar-dark bg-primary">
            <!--Footer links-->
            <div class="container-fluid">
                <div class="row">
                    <!--First column-->
                    <div class="col-md-3 offset-md-1">
                        <h5 class="title"><strong>Sobre o {{systemName}}</strong></h5>
                        <p>O sistema {{systemName}} é uma solução para o controle de Fornecedores, Notas Fiscais e IMEI.</p>
                        <p>Desenvolvido pela {{companyName}}, para uso interno, no auxílio da localização das notas ficais correspondentes aos IMEI's buscados.</p>
                    </div>
                    <!--/.First column-->
                    <hr class="hidden-md-up">
                    <!--Second column-->
                    <div class="col-md-2 offset-md-1">
                        <h5 class="title"><strong>REDES SOCIAIS</strong></h5>
                        <ul>
                            <li>
                                <a href="https://www.instagram.com/lojaoriodopeixe/">Instagram</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/LojaoRiodoPeixe/">Facebook</a>
                            </li>
                            <li>
                                <a href="https://twitter.com/lojaoriodopeixe">Twitter</a>
                            </li>
                            <li>
                                <a href="https://issuu.com/lojaoriodopeixe/docs">Issuu</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.Second column-->
                    <hr class="hidden-md-up">
                    <!--Third column-->
                    <div class="col-md-2">
                        <h5 class="title"><strong>LINKS ÚTEIS</strong></h5>
                        <ul>
                            <li>
                                <a href="http://sabium.com.br">Sabium Sistemas</a>
                            </li>
                            <li>
                                <a href="http://idg.receita.fazenda.gov.br">Receita Federal</a>
                            </li>
                            <li>
                                <a href="https://www.danfeonline.com.br">Danfe Online</a>
                            </li>
                            <li>
                                <a href="http://www.sintegra.gov.br">Sintegra</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.Third column-->
                    <hr class="hidden-md-up">
                    <!--Fourth column-->
                    <div class="col-md-2">
                        <h5 class="title"><strong>RIO DO PEIXE</strong></h5>
                        <ul>
                            <li>
                                <a href="http://www.lojaoriodopeixe.com.br/">Lojão Rio do Peixe</a>
                            </li>
                            <li>
                                <a href="http://www.gruporiodopeixe.com.br/cristalina-dos-alpes">Cristalina do Alpes</a>
                            </li>
                            <li>
                                <a href="http://www.gruporiodopeixe.com.br/telerio">Tele Rio</a>
                            </li>
                            <li>
                                <a href="http://www.gruporiodopeixe.com.br/river">River</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.Fourth column-->
                </div>
            </div>
            <!--/.Footer links-->
            <hr>

            <!--Copyright-->
            <div class="footer-copyright">
                <div class="containter-fluid">
                    © 2017 Copyright: <a href="http://www.lojaoriodopeixe.com.br/"> {{companyName}}</a>
                </div>
            </div>
            <!--/.Copyright-->
        </footer>
        <!--/.Footer-->

        <script type="text/javascript" src="/assets/js/main.min.js"></script>

        <!-- Modal Fornecedores -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Fornecedores com NF-e's Cadastradas</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="f in fornecedores| orderBy: '-companyName' : 'true' ">
                                <span class="tag tag-default tag-pill float-xs-right">{{f.nomeFornecedor}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn light-blue" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Sobre -->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel"><strong>SOBRE O {{systemName}}</strong></h4>
                    </div>
                    <div class="modal-body">
                        <p>O sistema {{systemName}} é uma solução para o controle de Fornecedores, Notas Fiscais e IMEI.</p>
                        <p>Desenvolvido pela {{companyName}}, para uso interno, no auxílio da localização das notas ficais correspondentes aos IMEI's buscados.</p>
                        <div class="modal-footer">
                            <button type="button" class="btn light-blue" data-dismiss="modal">Certo</button>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                                            $(function () {
                                                $('.cnpj').mask('00.000.000/0000-00');
                                            });
            </script>
    </body>

</html>
