<!DOCTYPE html>
<html ng-app="jarbis" lang="pt-BR">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{{systemName}}</title>

        <link href="/assets/css/main.min.css" rel="stylesheet">
        <style rel="stylesheet">
            /* TEMPLATE STYLES */

            main {
                margin-top: 1rem;
                ;
            }

            main .card {
                margin-bottom: 1rem;
            }

            @media only screen and (max-width: 768px) {
                .read-more {
                    text-align: center;
                }
            }
        </style>

    </head>

    <body ng-controller="NotasController as jarbis">

        <header>
            <!--Navbar-->
            <nav class="navbar navbar-dark bg-primary">
                <!-- Collapse button-->
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
                    <i>≡</i>
                </button>

                <div class="container">

                    <!--Collapse content-->
                    <div class="collapse navbar-toggleable-xs" id="collapseEx">
                        <!--Navbar Brand-->
                        <a class="navbar-brand" href="./" target="_blank">LRP</a>
                        <!--Links-->
                        <ul class="nav navbar-nav">
                          <li class="nav-item">
                              <a class="nav-link" href="./">Início</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="fornecedores">Fornecedores</a>
                          </li>
                          <li class="nav-item active">
                              <a class="nav-link" data-toggle="modal" data-target="#myModal2" href="#myModal2" ng-click="refreshNota()">Notas Fiscais<span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="notas-superloja">Últimas Entradas</a>
                          </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#myModal3" href="#myModal3">Sobre</a>
                            </li>
                        </ul>
                        <form class="form-inline">
                            <input class="imei form-control" type="text" ng-model="imei" ng-change="getBuscaNota(imei)" size="30" placeholder="Busca por registros ou IMEI(s)">
                            <button type="button" ng-click="addNew()" class="btn btn-primary btn-rounded btn-sm" >Incluir NF-e</button>
                        </form>

                    </div>
                    <!--/.Collapse content-->

                </div>

            </nav>
            <!--/.Navbar-->
        </header>

        <div id="message">
            <alert class="alert" id="inner-message" ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"  close="closeAlert()" ><strong>{{alert.msg}}</strong></alert>
        </div>

        <img style="float: top; width: 100%; padding-bottom: 0.5%; opacity: 0.8; filter: alpha(opacity=80); /* For IE8 and earlier */" src="assets/img/nfnf.jpg" alt="Fornecedores"/>
        <main>
            <!--Main layout-->
            <div class="container">

                <form id="main">

                    <p style="float: left; width: 50%; padding-right: 1%;">
                        <span class="display_bold"><label for="numero">Número da Nota</label></span>
                        <input id="numero" type="text" focus-if="isNew" ng-model="nota.numero" ng-disabled="isSaveDisabled" name="nota.numero" size="4" required="true">
                    </p>
                    <p style="float: left; width: 50%; padding-left: 1%;">
                        <span class="display_bold"><label for="cnpj">Fornecedor</label></span>
                        <span style="display: inline;">
                          <a data-target="#myModal1" data-toggle="modal" ng-click="myModal1">
                            <input type="text" ng-model="nota.cnpjFornecedor.nomeFornecedor" name="fornecedor" ng-disabled="isSaveDisabled" class="input-field col s12" readonly></input>
                          </a>
                            <button ng-disabled="isSearchDisabled" style="float: right;" type="button" data-target="#myModal1" data-toggle="modal" ng-click="myModal1" class="btn btn-info btn-rounded  btn-sm" >
                              <i class="fa fa-search"></i>
                              <strong> Buscar Fornecedor</strong>
                            </button>
                        </span>
                    </p>
                    <p style="float: left; width: 50%; padding-right: 1%;">
                        <span class="display_bold"><label for="cnpj">Data de Emissão</label></span>
                        <input type="date" ng-model="nota.dataEmissao" value="{{nota.dataEmissao}}" name="nota.dataEmissao" required="true" ng-disabled="isSaveDisabled" placeholder="dd-MM-yyyy" format-date/>
                    </p>
                    <p style="float: left; width: 50%; padding-left: 1%;">
                        <span class="display_bold"><label for="cnpj">Data de Entrada</label></span>
                        <input type="date" ng-model="nota.dataEntrada" value="{{nota.dataEntrada}}" name="nota.dataEntrada" required="true" ng-disabled="isSaveDisabled" placeholder="dd-MM-yyyy" format-date/>
                    </p>
                        <span class="display_bold" ><label for="cnpj">Celulares</label>
                          <button ng-disabled="isSearchDisabled" style="float: right;" type="button" data-target="#myModal5" data-toggle="modal" ng-click="myModal5" class="btn btn-info btn-rounded  btn-sm" >
                            <i class="fa fa-plus-circle"></i>
                            <strong> Adicionar Celular</strong>
                          </button>
                        </span>



                        <!-- <button class="addfields" ng-click="addNewPhone()">Add fields</button> -->


                        <ul>
                          <li data-ng-repeat="celular in nota.celular">
                            <p style="float: left; width: 16.5%;"><input type="text" ng-model="celular.idProduto" name="celular.idProduto" required="true" ng-disabled="isSaveDisabled" placeholder="Código"></p>
                            <p style="float: left; width: 16.5%; padding-left: 1%;"><input type="text" ng-model="celular.cor" name="celular.cor" required="true" ng-disabled="isSaveDisabled" placeholder="Cor"></p>
                            <p style="float: left; width: 16.5%; padding-left: 1%;"><input type="text" ng-model="celular.voltagem" name="celular.voltagem" required="true" ng-disabled="isSaveDisabled" placeholder="Volts" ng-change="getCelularPorCodigo(celular.idProduto, celular.cor, celular.voltagem)"></p>
                            <p style="float: left; width: 50.5%; padding-left: 2%;" ><input type="text" ng-model="celular.descricao" name="celular.descricao" required="true" ng-disabled="isSaveDisabled" placeholder="Descrição" readonly></p>
                            <!-- <button class="remove" ng-show="$last" ng-click="removePhone()">-</button> -->
                              <textarea rows="8" ng-model="celular.imeis" name="celular.imei" ng-list="&#10;" ng-trim="false" required="true" ng-disabled="isSaveDisabled" style="height: 200%;"></textarea>
                          </li>
                        </ul>
                        <div id="choicesDisplay">
                          <input type="hidden" value="{{celular.idProduto}}" ng-model="nota.celular.idProduto">
                          <input type="hidden" value="{{celular.cor}}" ng-model="nota.celular.cor">
                          <input type="hidden" value="{{celular.voltagem}}" ng-model="nota.celular.voltagem">
                          <input type="hidden" value="{{celular.descricao}}" ng-model="nota.celular.descricao">
                          <input type="hidden" value="{{celular.imeis}}" ng-model="nota.celular.imeis">
                          {{ nota.celular }}
                        </div>


                    <div class="control-table">
                        <div class="fornecedor-controle">
                            <button type="button" ng-click="saveNota(nota)" class="btn btn-success {{off}}" style="width: 47%; display: inline; margin-right: 0.0%" ng-disabled="isSaveDisabled">Salvar</button>
                            <button type="button" ng-click="deleteNota(nota.idNota)" class="btn btn-danger {{off}}" style="width: 47%; display: inline; margin-right: 0.0%" ng-disabled="isDeleteDisabled">Excluir</button>
                        </div>

                    </div>
                </form>

            </div>
            <!--/.Main layout-->
        </main>

        <!--Footer-->
        <footer class="page-footer center-on-small-only navbar-dark bg-primary">
            <!--Footer links-->
            <div class="container-fluid">
                <div class="row">
                    <!--First column-->
                    <div class="col-md-3 offset-md-1">
                        <h5 class="title">Sobre o {{systemName}}</h5>
                        <p>O sistema {{systemName}} é uma solução para o controle de Fornecedores, Notas Fiscais e IMEI.</p>
                        <p>Desenvolvido pela {{companyName}}, para uso interno, no  auxílio da localização das notas ficais correspondentes aos IMEI's buscados.</p>
                    </div>
                    <!--/.First column-->
                    <hr class="hidden-md-up">
                    <!--Second column-->
                    <div class="col-md-2 offset-md-1">
                        <h5 class="title">REDES SOCIAIS</h5>
                        <ul>
                            <li>
                                <a href="https://www.instagram.com/lojaoriodopeixe/">Instagram</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/LojaoRiodoPeixe/">Facebook</a>
                            </li>
                            <li>
                                <a href="https://twitter.com/lojaoriodopeixe">Twitter</a>
                            </li>
                            <li>
                                <a href="https://issuu.com/lojaoriodopeixe/docs">Issuu</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.Second column-->
                    <hr class="hidden-md-up">
                    <!--Third column-->
                    <div class="col-md-2">
                        <h5 class="title">LINKS ÚTEIS</h5>
                        <ul>
                            <li>
                                <a href="http://sabium.com.br">Sabium Sistemas</a>
                            </li>
                            <li>
                                <a href="http://idg.receita.fazenda.gov.br">Receita Federal</a>
                            </li>
                            <li>
                                <a href="https://www.danfeonline.com.br">Danfe Online</a>
                            </li>
                            <li>
                                <a href="http://www.sintegra.gov.br">Sintegra</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.Third column-->
                    <hr class="hidden-md-up">
                    <!--Fourth column-->
                    <div class="col-md-2">
                        <h5 class="title">RIO DO PEIXE</h5>
                        <ul>
                            <li>
                                <a href="http://www.lojaoriodopeixe.com.br/">Lojão Rio do Peixe</a>
                            </li>
                            <li>
                                <a href="http://www.gruporiodopeixe.com.br/cristalina-dos-alpes">Cristalina do Alpes</a>
                            </li>
                            <li>
                                <a href="http://www.gruporiodopeixe.com.br/telerio">Tele Rio</a>
                            </li>
                            <li>
                                <a href="http://www.gruporiodopeixe.com.br/river">River</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.Fourth column-->
                </div>
            </div>
            <!--/.Footer links-->
            <hr>

            <!--Copyright-->
            <div class="footer-copyright">
                <div class="containter-fluid">
                    © {{systemYear}} Copyright: <a href="http://www.lojaoriodopeixe.com.br/"> {{companyName}}</a>
                </div>
            </div>
            <!--/.Copyright-->
        </footer>
        <!--/.Footer-->

        <!-- SCRIPTS -->

        <script type="text/javascript" src="/assets/js/main.min.js"></script>


        <!-- Modal Celular -->
        <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Busca de Celulares</h4>
                    </div>
                    <div class="modal-body">
                      <input type="text" ng-model="celular.idProduto" value="{{celular.idProduto}}" name="celular.idProduto" required="true" ng-disabled="isSaveDisabled" placeholder="Código"></p>
                      <input type="text" ng-model="celular.cor" value="{{celular.cor}}" name="celular.cor" required="true" ng-disabled="isSaveDisabled" placeholder="Cor"></p>
                      <input type="text" ng-model="celular.voltagem" value="{{celular.voltagem}}" name="celular.voltagem" required="true" ng-disabled="isSaveDisabled" ng-change="getCelularPorCodigo(celular.idProduto, celular.cor, celular.voltagem)" placeholder="Volts"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn light-blue" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Fornecedores -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Busca de Fornecedor</h4>
                    </div>
                    <div class="modal-body">
                        <input class="cnpj form-control" type="text" ng-model="cnpj" ng-change="getFornecedorPorCnpj(cnpj)" ngChange="/[^0-9]/" size="30" placeholder="Informe o CNPJ"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn light-blue" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal NF -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Notas Fiscais Cadastradas</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="n in notas | orderBy: '-id'">
                                <span class="tag tag-default tag-pill float-xs-right">Registro {{n.idNota}}</span>
                                Número: {{n.numero}}
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn light-blue" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Sobre -->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel"><strong>SOBRE O {{systemName}}</strong></h4>
                    </div>
                    <div class="modal-body">
                        <p>O sistema {{systemName}} é uma solução para o controle de Fornecedores, Notas Fiscais e IMEI.</p>
                        <p>Desenvolvido pela {{companyName}}, para uso interno, no auxílio da localizaçâo das notas ficais correspondentes aos IMEI's buscados.</p>

                        <div class="modal-footer">
                            <button type="button" class="btn light-blue" data-dismiss="modal">Certo</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Exclusão -->
            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel"><strong>SOBRE O {{systemName}}</strong></h4>
                        </div>
                        <div class="modal-body">
                            <p><strong>CUIDADO! O {{systemName}} precisa de sua atenção:</strong></p>
                            <p>Desenvolvido pela {{companyName}}, para uso interno, no auxílio da localizaçâo das notas ficais correspondentes aos IMEI's buscados.</p>

                            <div class="modal-footer">
                                <button type="button" class="btn light-blue" data-dismiss="modal">Certo</button>
                            </div>
                        </div>
                    </div>
                </div>

            <script type="text/javascript">
                                            $(function () {
                                                $('.cnpj').mask('00.000.000/0000-00');
                                            });
            </script>
    </body>

</html>
