#links {
    margin-left: 15%;
}
#logo {
    max-width:210px;
    max-height:160px;
    width: auto;
    height: auto;
    float: left;
    margin-top: -1.5%
}

#toTop {
    width:38px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align: left;
    padding:5px;
    position:fixed; /* fixa o botão */
    bottom:5px; /* e coloca o botão no canto junto com essa parte do código*/
    right:5px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:verdana;
    font-size:11px;
    border-radius: 10px;    
}

.btn-large :disabled {
    background-color:#ccc;
    
}
       